<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="petrolEngine" name="petrolEngine" class="com.example.springDemo1.Domain.PetroEngine">
        <constructor-arg name="engineType" value="petrol engine"></constructor-arg>
    </bean>
    <bean id="deiselEngine" name="deiselEngine" class="com.example.springDemo1.Domain.DieselEngine">
        <constructor-arg name="engineType" value="diesel engine"></constructor-arg>
    </bean>
    <bean name="car" class="com.example.springDemo1.Domain.Car">
        <constructor-arg name="engine" ref="petrolEngine"></constructor-arg>
        <constructor-arg name="make" value="honda"></constructor-arg>
    </bean>

</beans>